<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image Search Abstraction Layer</title>
  </head>
  <body>
    <h1>Image Search Abstraction Layer</h1>
    <h6>Try:</h6>
    <p>Search</p>
    <a href = "https://ivan-image-search-abstraction-layer.glitch.me/api/imagesearch/lolcats%20funny?offset=10">
      https://ivan-image-search-abstraction-layer.glitch.me/api/imagesearch/lolcats funny?offset=10</a>
    <br>
    <br>
    <p>Recently submitted search strings</p>
    <a href = "https://ivan-image-search-abstraction-layer.glitch.me/api/latest/imagesearch/">
      https://ivan-image-search-abstraction-layer.glitch.me/api/latest/imagesearch/</a>
  </body>
</html>
